.card-row {
  padding-bottom: 4em;
  margin: auto;
  height: auto;
  width: 50%;
}

.card-text-style {
  color: #9575cd;
  text-align: center;
}

.card-title {
  font-family: "Parisienne", cursive;
  font-size: 2em;
}

.card-img-top {
  height: auto;
}

.gallery-main {
  height: 22.5em;
}

@media only screen and (min-width: 1600px) and (max-width: 2000px) {
  .gallery-main {
    height: 30em;
  }
}

@media only screen and (min-width: 2100px) {
  .gallery-main {
    height: 41em;
  }
}

@media only screen and (max-width: 600px) {
  .card-row {
    height: auto;
    width: 100%;
  }
  .card-img-top {
    height: auto;
  }
}
